<h2>Department Manager</h2>
<hr>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" routerLink="">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="/departments">Department Manager</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/department-add-form">Add Department</a>
            </li>
        </ul>
    </div>
</nav>
<hr>
<table>
    <tr>
        <th>ID</th>
        <th>DepartmentName</th>
        <th>Delete - Update</th>
    </tr>
    <tr *ngFor="let l of listDepartments">
        <td>{{ l.id }}</td>
        <td>{{ l.name }}</td>

        <td>
            <button class="btn btn" (click)="deleteDepartment(l.id)" style="background-color: red; color: white; border-radius: 5px">
                Delete
            </button>
            <button class="btn btn" (click)="editDepartment(l.id)" style="
          background-color: rgb(20, 173, 0);
          color: white;
          border-radius: 5px;
        ">
                Update
            </button>
        </td>
    </tr>
</table>